<div id="selected" *ngIf="pokemon" class="container d-flex flex-column justify-content-between align-items-center">

    <h3 class="mx-5">{{ pokemon.nameFr }}</h3>

    <div id="types" class="row mx-5" *ngIf="pokemon.types[0]">
        <div class="col-md">
            <img [src]=" './assets/img/types/' + pokemon.types[0] + '.png'">
        </div>
        <div class="col-md" *ngIf="pokemon.types[1]">
            <img [src]=" './assets/img/types/' + pokemon.types[1] + '.png'">
        </div>
    </div>

    <div class="row mx-5">
        <div class="col-md">
            <img [src]="pokemon.sprite">
        </div>
    </div>

</div>
