<div class="container d-flex flex-column align-items-center">

    <h1 class="text-center">Créer une équipe</h1>

    <div id="poke-container" class="container">
        <div class="row">
            <app-box class="col-md" [i]="0"></app-box>
            <app-box class="col-md" [i]="1"></app-box>
            <app-box class="col-md" [i]="2"></app-box>
        </div>
        <div class="row">
            <app-box class="col-md" [i]="3"></app-box>
            <app-box class="col-md" [i]="4"></app-box>
            <app-box class="col-md" [i]="5"></app-box>
        </div>
    </div>
    
    <button class="btn btn-outline-dark w-50"> Créer l'équipe </button>

</div>